/* icons from directory "" */
.icon-brand-3d-rotation {
  background-size: 16px 16px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.icon-brand-3d-rotation-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;

}
.icon-brand-bell {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-bell-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-board{

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-board-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-buildings{

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-buildings-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-calendar {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-calendar-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-camera {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-camera-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-chart-bars-1 {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-chart-bars-1-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-chart-bars-2{

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-chart-bars-2-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-chart-line {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-chart-line-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-check-border {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-check-border-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-check{

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-check-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-close {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-close-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-compass{

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-compass-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-contact{

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-contact-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-copy {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-copy-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-drone-border {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-drone-border-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-edit {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-edit-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-expand {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-expand-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-filters{

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-filters-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-gallery{

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-gallery-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-gear {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-gear-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-globe {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-globe-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-heart {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-heart-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-home {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-home-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-info-border{

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-info-border-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-layout {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-layout-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-lightning {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-lightning-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-list {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-list-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-lock {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-lock-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-mail {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-mail-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-map {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-map-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-menu {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-menu-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-minus-border{

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-minus-border-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-minus {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-minus-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-pdf {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-pdf-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-pause-border{

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-pause-border-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-phone{

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-phone-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-pin {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-pin-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-plus-border {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-plus-border-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-plus {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-plus-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-print{

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-print-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-qrc{

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-qrc-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-question-border {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-question-border-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-search {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-search-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-source{

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-source-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-star-border {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-star-border-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-star{

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-star-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
.icon-brand-table {

  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-brand-table-dims {
  width: 16px;
  height: 16px;
overflow: visible !important;
}
